h1{
	float: left;
	margin-left: 10px;
	display:block;
}
nav{
	display: inline-block;
	float:right;
	margin-top: 30px;
	margin-right: 10px;
}
.amenu{
	margin-right: 10px;
	font-size: 15px;
}
.navegacion{
	text-align: right;

}
.navegacion:after,
.navegacion:before{
	content: '';
	display: table;
	clear: both;
}
.busqueda{
	height: auto;
	width: auto;
	max-width: 100%;
}