body {
	font-family: 'Pacifico', cursive;
	margin-top: 150px;
}

header {
	background-color: rgba(19, 193, 172, .93);
	-webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.27);
	margin-bottom: 50px;
}

.navbar-default {
	background-color: rgba(19, 193, 172, .93);
	border-color: #e7e7e7;
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 0px;
}

h1 {
	float: left;
	margin-left: 20px;
	display: block;
	color: white;
}

#navPrincipal {
	display: inline-block;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

.amenu {
	margin-right: 20px;
	font-size: 25px;
}

a:hover {
	text-decoration: none;
}

.navegacion {
	text-align: right;
}

.navegacion:after, .navegacion:before {
	content: '';
	display: table;
	clear: both;
}

.form-busqueda {
	margin-top: 10px;
	padding-bottom: 10px;
}

.busqueda {
	height: 40px;
	width: 97%;
	max-width: 100%;
	display: inline-flex;
	margin-left: 10px;
	background-color: #2ba696;
	border-radius: 30px;
	border: 0;
	color: white;
	font-size: 20px;
	padding-left: 10px;
	font-family: 'Dosis', sans-serif;
}

#buscar {
	height: 40px;
	width: 70px;
	border-radius: 30px;
	border: 0;
}

input {
	outline: none;
	font-family: serif;
}

*::-webkit-input-placeholder {
	/* Google Chrome y Safari */
	color: #D8D8D8;
}

*:-moz-placeholder {
	/* Firefox anterior a 19 */
	color: white;
}

*::-moz-placeholder {
	/* Firefox 19 y superior */
	color: white;
}

*:-ms-input-placeholder {
	/* Internet Explorer 10 y superior */
	color: white;
}

.contenedor {
	margin: 20px;
}

.descripcion {
	margin-bottom: 40px;
}

p {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}

table {
	width: 100%;
	margin-top: 10px;
}

.tdimg {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	width: 50%;
}

.imgportada {
	max-height: 200px;
	max-width: 200px;
}

main {
	margin-bottom: 50px;
}

.clase-general {
	display: table-row;
}

/* ---------- LOGIN  y  REGISTRO ---------- */
#login h2.error {
	background-color: #ce0808;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 250px;
}

.izq {
	float: left;
	margin-left: 10px;
}

.dcha {
	float: right;
	margin-right: 10px;
}

.button {
	margin-right: 75px;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

#registro {
	margin: 50px auto;
	width: 800px;
}

#login {
	margin: 50px auto;
	width: 400px;
}

#login h2, #registro h2 {
	background-color: rgba(19, 193, 172, .93);
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 250px;
}

#login fieldset, #registro fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 24px;
}

#login fieldset p, #registro fieldset p {
	color: #777;
	margin-bottom: 14px;
	font-size: 25px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input, #registro fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input, #registro fieldset input {
	background-color: #eee;
	color: #777;
	padding: 6px 15px;
	width: 328px;
	font-size: 22px;
}

#login fieldset input[type="submit"], #registro fieldset input[type="submit"]
	{
	background-color: #2ba696;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	width: 170px;
	margin-top: 30px;
}
/* --------------------------------------- */

/*----- Bienvenido ----*/
.container {
	margin-top: 170px;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.item {
	order: 1;
	width: 25%;
}

.item2 {
	order: 2;
	width: 75%;
}
/*-------------- Tabla usuarios ---------*/
.tableUsu {
	border: 2 solid;
}
