<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Authenticator Servlet</display-name>
  <context-param>
    <param-name>CompanyName</param-name>
    <param-value>WallaTroll</param-value>
  </context-param>
  <context-param>
  	<param-name>DATABASE_DRIVER</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>DATABASE_URI</param-name>
  	<param-value>jdbc:mysql://localhost:3306/shop</param-value>
  </context-param>
  <context-param>
  	<param-name>DATABASE_USERNAME</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<param-name>DATABASE_PASSWORD</param-name>
  	<param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>AuthenticatorServlet</servlet-name>
    <servlet-class>com.ccs.servlets.AuthenticatorServlet</servlet-class>
    <init-param>
      <param-name>UserNameRoot</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>PassRoot</param-name>
      <param-value>1234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticatorServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.ccs.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterAuth</filter-name>
    <filter-class>com.ccs.filters.filtro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAuth</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>proyecto_final.listeners.ContextListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>